<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerlinks}}
</head>

<body>
  {{>navbar}}

  <!-- MAIN -->
  <main class="l-main bd-grid">
    <div class="home">
      <div class="home__information">
        <span style="color:#fcfcfc;font-size:30px;"> <img src="images/m.jpg" width="90px" height="90px" alt=""> About myself</span>

        <p class="home__titlee anime-text" style="color:rgb(196, 89, 89);
height:170px;
width:650px;
border:2px solid #4E1116;
overflow:auto;
padding:15px">
          I am a hard working graduate specialised in computer engineering
          with overall cgpa of 8.45. <br>I belong to a middle class family.There are 4 members in our family including
          me. <br>I am good in programming languages like: C,C++,Java also I am more interested in
          Html5,CSS,JavaScript,Bootstrap,NodeJS,ExpressJS,MongoDB.
          <br>My weakness is I am not comfortable until I finish my workin given time and over friendly in nature.
          My short term goal is to get a job where my passion for work can be effectively utilised.
          <br>My long term goal is to become more responsible and knowlegable personality as well as on respectable
          position in my company.
        </p>
        </p>
        <p>My strengths is :
          <span class="home__sk anime-text"></span>
        </p>

        <div>
          <a href="resumeupdated.pdf" class="home__button anime-text">DOWNLOAD CV</a>
        </div>
      </div>

    </div>
  </main>
</body>

</html>