<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerlinks}}
  <style>
    img{
      cursor: pointer;
    }
  </style>
</head>

<body>
  {{>navbar}}

  <!-- MAIN -->
  <main class="l-main bd-grid">
    <div class="home">
      <div class="home__information">
        <marquee behavior="alternate">
        <table width="1000" border="0" cellpadding="5">

<tr>

<td align="center" valign="center">
<img src="images/c.jpg" width="800px" alt="description here" />
</td>

<td align="center" valign="center">
<img src="images/cpp.png" width="800px" alt="description here" />
</td>

<td align="center" valign="center">
<img src="images/java.png" width="800px" alt="description here" />
</td>
<td align="center" valign="center">
<img src="images/html.jfif" width="800px" height="800px" alt="description here" />
</td>
<td align="center" valign="center">
<img src="images/java.png" width="800px" alt="description here" />
</td>
<td align="center" valign="center">
<img src="images/node.png" width="800px" alt="description here" />
</td>
<td align="center" valign="center">
<img src="images/express.png" width="800px" alt="description here" />
</td>
<td align="center" valign="center">
<img src="images/mongo.png" width="800px" alt="description here" />
</td>


</tr>

</table>
</marquee>
      </div>

    </div>
  </main>
</body>

</html>